<md-content layout-padding layout="row" layout-align="center" ng-controller="TrainingScheduleCtrl">
    <div flex-gt-md="100" flex-md="100" flex-xs="100">
        <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
            <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                    <span>{{filtered.length}} items total</span>
                </div>
                <div flex-gt-sm="75" flex-xs="100">
                    <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                        <grid-pagination max-size="5" boundary-links="true" class="pagination mdl-shadow--2dp" ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage" total-items="paginationOptions.totalItems" ng-model="paginationOptions.currentPage" ng-change="reloadGrid()" items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                        <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                            <md-select aria-label="ResultsPerPage" ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                <md-option>10</md-option>
                                <md-option>20</md-option>
                                <md-option>30</md-option>
                                <md-option>40</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th sortable="ID" class="sortable mdl-data-table__cell--non-numeric"><span>ID</span></th>
                            <th class="st-sort-disable th-dropdown">
                                <md-select filter-type="statusDisplay" filter-type="select" ng-model="selectedStatus" placeholder="STATUS" ng-change="filter()">
                                    <md-option ng-repeat="status in statuses track by status.id">{{ status.name }}</md-option>
                                </md-select>
                            </th>
                            <th sortable="PrimaryAnimal" class="sortable">PRIMARY ANIMAL</th>
                            <th sortable="SecondaryAnimal" class="sortable">SECONDARY ANIMAL</th>
                            <th sortable="StartDate" class="sortable">START DATE</th>
                            <th sortable="placed" class="sortable">END DATE</th>
                            <th>TOTAL DAYS</th>
                            <th>TOTAL WEEKS</th>
                            <th>DONE DAYS</th>
                            <th>DONE WEEKS</th>
                            <th>REMAINING DAYS</th>
                            <th>REMAINING WEEKS</th>
                            <th>PERCENTAGE DONE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item ng-click="showDialog($event, item.ID)" ">
                            <td class="mdl-data-table__cell--non-numeric ">
                                <span ng-bind="item.ID "></span>
                            </td>
                            <td ng-bind="item.Status "></td>
                            <td ng-bind="item.PrimaryAnimal "></td>
                            <td ng-bind="item.SecondaryAnimal "></td>
                            <td ng-bind="item.StartDate "></td>
                            <td ng-bind="item.EndDate "></td>
                            <td ng-bind="item.TotalDays "></td>
                            <td ng-bind="item.TotalWeeks "></td>
                            <td ng-bind="item.DoneDays "></td>
                            <td ng-bind="item.DoneWeeks "></td>
                            <td ng-bind="item.RemainingDays "></td>
                            <td ng-bind="item.RemainingWeeks "></td>
                            <td ng-bind="item.PercentageDone "></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div layout-xs="column " layout="row " layout-align-xs="end end " layout-align="end center ">
                <grid-pagination max-size="5 " boundary-links="true " class="pagination " ng-if="paginationOptions.totalItems> paginationOptions.itemsPerPage" total-items="paginationOptions.totalItems" ng-model="paginationOptions.currentPage" ng-change="reloadGrid()" items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select aria-label="ResultsPerPage" ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option>10</md-option>
                                    <md-option>20</md-option>
                                    <md-option>30</md-option>
                                    <md-option>40</md-option>
                                </md-select>
                            </md-input-container>
            </div>
        </div>
    </div>
</md-content>
